/* Base CSS for the GIMLI-System
	by Benedict Jäggi in 19
	https://benis-bastelschuppen.github.io
	https://github.com/ben0bi
*/

@font-face {
  font-family: 'pixel_regular';
  src: url('../fonts/basis33.ttf');
}

@font-face {
  font-family: 'gimli_text';
  src: url('../fonts/pcsenior.ttf');
}

html, body
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid #00FF00;*/
}

body
{
	background-color: #333369;
	background-image: url('../images/GIMLI_BACKGROUND_SEAMLESS.png');
}

a, a:visited
{
	color: #FFAA00;
	text-decoration: none;
}
a:hover
{
	color: #FFFF00;
}

/* the gimli main window (OUTER PART) where all the action happens */
/* Desktop only at this time. */
#gimli-outer-window
{
	position: relative;
	border: 2px solid #0033FF;
	width: 640px;
	height: 480px;
	top: 50%;
	left: 50%;
    	transform: perspective(1px) translateY(-50%) translateX(-50%);
	overflow: hidden;
	z-index: 10;
}

/* the gimli main window (INNER PART) where all the action happens,
here all images will be appended and other stuff. */
/* Desktop only at this time. */
#gimli-main-window, #gimli-middle-window
{
	position: absolute;
	width: 100%;
	height: 100%;
    	top: 0px;
	left: 0px;
	background-color: #000033;
	overflow: hidden;
	/* The background and other sizes will be calculated with the scale factor in the gml file. */
	/*background-size: 200% 200%;*/ /* BG should have the same size like the gimli-image */
}

#gimli-footer-window
{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-family: 'pixel_regular', monospace;
	/*border: 1px solid #00ff00;*/
}

/* a general image in the gimli engine */
.gimli-image
{
	/* width and height are determined by the scale factor in the surrounding div. */
	width: 100%;
	height: 100%;
	/* make it pixel perfect */
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
	image-rendering: -webkit-crisp-edges; /* Safari 7+ */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
	image-rendering: -o-crisp-edges; /* Opera 12 */
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
	touch-action: none;
}

/* a giml item */
.gimli-item {position: absolute;}

/* a giml description or name text. */
.gimli-text 
{
	position: absolute;
	min-width: 100px;
/*	height: 30px;*/
	z-index: 10000;
	font-family: "gimli_text", monospace;
	font-size: 8pt;
	max-width: 100%;
	padding: 5px;
}

#gimli-text-description 
{
	color: #33AA33;
	background-image: url('../images/GIMLI_TEXT_BACKGROUND.png');
	border-radius: 4px;
}

/* make something pixel perfect (same as image without size) */
.gimli-pixelperfect
{
	/* make it pixel perfect */
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
	image-rendering: -webkit-crisp-edges; /* Safari 7+ */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
	image-rendering: -o-crisp-edges; /* Opera 12 */
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}

