/* Base CSS for the GIMLI-System
	by Benedict Jäggi in 19
	https://benis-bastelschuppen.github.io
	https://github.com/ben0bi
*/

@font-face {
  font-family: 'pixel_regular';
  src: url('../fonts/basis33.ttf');
}

html, body
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid #00FF00;*/
}

body
{
	background-color: #333369;
	background-image: url('../images/GIMLI_BACKGROUND_SEAMLESS.png');
}

a, a:visited
{
	color: #FFAA00;
	text-decoration: none;
}
a:hover
{
	color: #FFFF00;
}

/* the gimli main window where all the action happens */
/* Desktop only at this time. */
#gimli-main-window
{
	position: relative;
	border: 2px solid #0033FF;
	width: 640px;
	height: 480px;
	position: relative;
    top: 50%;
	left: 50%;
    transform: perspective(1px) translateY(-50%) translateX(-50%);
	background-color: #000033;
	overflow: hidden;
	z-index: 10;
}

#gimli-footer-window
{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-family: 'pixel_regular', monospace;
	/*border: 1px solid #00ff00;*/
}

/* a general image in the gimli engine */
.gimli-image
{
	width: 200%;
	height: 200%;
	/* make it pixel perfect */
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
	image-rendering: -webkit-crisp-edges; /* Safari 7+ */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
	image-rendering: -o-crisp-edges; /* Opera 12 */
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}

/* make something pixel perfect (same as image without size) */
.gimli-pixelperfect
{
	/* make it pixel perfect */
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
	image-rendering: -webkit-crisp-edges; /* Safari 7+ */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
	image-rendering: -o-crisp-edges; /* Opera 12 */
	image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}